#team-chooser {
    width: 100vw;
    height: 100vh;
    position: absolute;
    background-color: red;
    z-index: 9;
    display: flex;
    align-items: center;
}

#team-chooser-title {
    background-color: rgb(47, 47, 47);
    padding: 10px 25px;
    font-size: 1.5em;
    color: white;
    border-radius: 500px;
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translateX(-50%);
}

.team-chooser-button {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    color: white;
    font-size: 3em;
    justify-content: center;
    align-items: center;
    transition-duration: .3s;
}

.team-char-icon {
    width: 350px;
    height: 350px;
    background-image: url("../img/card-back.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

.blue-team-picker {
    background-color: rgb(40, 96, 250);
}

.blue-team-picker:hover {
    background-color: rgb(71, 119, 251);
}

.red-team-picker {
    background-color: rgb(251, 60, 60);
}

.red-team-picker:hover {
    background-color: rgb(251, 115, 115);
}